/* Google Fonts Link Start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* //Google Fonts Link End */

/* Bootstrap Reset CSS Start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

/* //Bootstrap Reset CSS End */

/* Common CSS Start */
body {
    font-family: 'Poppins', sans-serif;
}

/* //Common CSS End */

/* Navigation Section CSS Start */
#navigationbar{
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
#navbarSupportedContent ul li a{
    color: #fff;
}

.logo_text {
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 2px;
    display: inline-block;
    color: #fff;
}
#navigationbar ul#main_menu li a{
    font-size: 15px;
    font-weight: 600;
    line-height: 45px;
    margin: 0 20px;
    transition: all 0.3s linear;
}
#navigationbar ul#main_menu li a:hover{
    color: #f34236;
}
#navigationbar ul#main_menu li:last-child a{
    margin-right: 0;
}
.scroll_bg{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.scroll_bg #navbarSupportedContent ul li a {
    color: #000;
}
.scroll_bg .logo_text{ 
    color: black;
}
/* //Navigation Section CSS End */

/* Banner Section CSS Start */
#banner {
    height: 100vh;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
    color: #fff;
}
#banner::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#banner .banner_content h2{
    font-size: 55px;
    font-weight: 300;
}
#banner .banner_content h1{
    font-size: 90px;
    letter-spacing: 2px;
}
#banner .banner_content h4{
    font-weight: 400;
}
#banner .banner_content .download_CV{
    display: inline-block;
    background-color: #f34236;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    transition: all 0.3s linear;
}
#banner .banner_content .download_CV:hover{
    background: #000;
}
/* //Banner Section CSS End */

/* About Section CSS Start */
#about .about_img{
    width: 70%;
    height: 70%;
}
#about .about_content h3{
    font-size: 32px;
    font-weight: 600;
}
#about .about_content h3 span{
    color: #f34236;
}
#about .about_content h4{
    font-size: 20px;
    margin: 20px 0;
}
/* //About Section CSS End */

/* Portfolio Section CSS Start */
#portfolio {
    background: #F3F3F3;
    /* padding: 80px 0; */
}
#portfolio .portfolio-haeding{
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 600;
}
#portfolio .portfolio-haeding span{
    color: #f34236;
}
#portfolio .card_effect{
    transition: all 0.3s linear;
}
#portfolio .card_effect:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.02);
}
#portfolio .card_size{
    height: 500px;
    width: 100%;
}
#portfolio .live_preview_btn{
    background: #f34236;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 0;
    font-size: 18px;
    transition: all 0.3s linear;
}
#portfolio .live_preview_btn:hover{
    background: black;
}
/* //Portfolio Section CSS End */

/* Contact Section CSS Start */
#contact .contact-haeding{
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 600;
}
#contact .contact-haeding span{
    color: #f34236;
}
#contact .contact_icon{
    width: 50px;
    height: 50px;
    background: black;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin: 0 0 0 30px;
}
#contact .contact_info{
    font-size: 18px;
}
/* //Contact Section CSS End */

/* Footer Section CSS Start */
footer h2{
    font-size: 40px;
}
footer .social_link {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    margin: 0 15px;
    border-radius: 50%;
}
footer .copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 20px 0;
}
/* //Footer Section CSS End */